N98/主卫.json
[
    {
        "id": "f97045492901482e",
        "type": "tab",
        "label": "主卫",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6946ae2d62f9e29f",
        "type": "homekit-service",
        "z": "f97045492901482e",
        "isParent": true,
        "hostType": "0",
        "bridge": "1988678985afd823",
        "accessoryId": "",
        "parentService": "",
        "name": "筒灯",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "ac2c60ceb0de8605"
            ],
            []
        ]
    },
    {
        "id": "b233337d3734f452",
        "type": "homekit-service",
        "z": "f97045492901482e",
        "isParent": true,
        "hostType": "0",
        "bridge": "1988678985afd823",
        "accessoryId": "",
        "parentService": "",
        "name": "灯带",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "98bbd61441db4fda"
            ],
            []
        ]
    },
    {
        "id": "934999ea68f70f48",
        "type": "knxUltimate",
        "z": "f97045492901482e",
        "server": "1d670c832649ebb6",
        "topic": "1/0/36",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": "1",
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "",
        "listenallga": false,
        "name": "Light Status",
        "outputtype": "update",
        "outputRBE": "false",
        "inputRBE": "true",
        "passthrough": "no",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "c6d174b89305654c"
            ]
        ]
    },
    {
        "id": "c6d174b89305654c",
        "type": "function",
        "z": "f97045492901482e",
        "name": "ON/OFF",
        "func": "// Verifico cosa ricevo dall'input\nif (Boolean(msg.payload) === true) {\n    return {payload:{\"On\":true}}\n}\nelse if (Boolean(msg.payload) === false)\n{\n    return {payload:{\"On\":false}}\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "6946ae2d62f9e29f"
            ]
        ]
    },
    {
        "id": "f2ec8f76621b14a4",
        "type": "knxUltimate",
        "z": "f97045492901482e",
        "server": "1d670c832649ebb6",
        "topic": "1/0/36",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "",
        "listenallga": false,
        "name": "Light switch",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "passthrough": "no",
        "x": 1110,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ac2c60ceb0de8605",
        "type": "function",
        "z": "f97045492901482e",
        "name": "CONVERSION",
        "func": "// Pass only messages coming from homekit node\nif (msg.hap.context !== undefined) {\n    if (msg.payload.On !== undefined) {\n        if (Boolean(msg.payload.On) === true) {\n            return { payload: true };\n        }\n        else if (Boolean(msg.payload.On) === false) {\n            return { payload: false };\n        }\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 260,
        "wires": [
            [
                "f2ec8f76621b14a4"
            ]
        ]
    },
    {
        "id": "1db09f20b7c565ba",
        "type": "knxUltimate",
        "z": "f97045492901482e",
        "server": "1d670c832649ebb6",
        "topic": "1/0/35",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": "1",
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "",
        "listenallga": false,
        "name": "Light Status",
        "outputtype": "update",
        "outputRBE": "false",
        "inputRBE": "true",
        "passthrough": "no",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "921741317f8bb25d"
            ]
        ]
    },
    {
        "id": "921741317f8bb25d",
        "type": "function",
        "z": "f97045492901482e",
        "name": "ON/OFF",
        "func": "// Verifico cosa ricevo dall'input\nif (Boolean(msg.payload) === true) {\n    return {payload:{\"On\":true}}\n}\nelse if (Boolean(msg.payload) === false)\n{\n    return {payload:{\"On\":false}}\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "b233337d3734f452"
            ]
        ]
    },
    {
        "id": "843fb471b2b0fc34",
        "type": "knxUltimate",
        "z": "f97045492901482e",
        "server": "1d670c832649ebb6",
        "topic": "1/0/35",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "",
        "listenallga": false,
        "name": "Light switch",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "passthrough": "no",
        "x": 1110,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "98bbd61441db4fda",
        "type": "function",
        "z": "f97045492901482e",
        "name": "CONVERSION",
        "func": "// Pass only messages coming from homekit node\nif (msg.hap.context !== undefined) {\n    if (msg.payload.On !== undefined) {\n        if (Boolean(msg.payload.On) === true) {\n            return { payload: true };\n        }\n        else if (Boolean(msg.payload.On) === false) {\n            return { payload: false };\n        }\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 380,
        "wires": [
            [
                "843fb471b2b0fc34"
            ]
        ]
    },
    {
        "id": "1988678985afd823",
        "type": "homekit-bridge",
        "bridgeName": "Master bathroom",
        "pinCode": "6615-6409",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.6.1",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.6.1",
        "hardwareRev": "1.6.1",
        "softwareRev": "1.6.1",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "1d670c832649ebb6",
        "type": "knxUltimate-config",
        "host": "192.168.1.7",
        "port": "3671",
        "physAddr": "14.14.14",
        "hostProtocol": "TunnelUDP",
        "suppressACKRequest": true,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "stopETSImportIfNoDatapoint": "skip",
        "loglevel": "debug",
        "name": "KNX Gateway",
        "localEchoInTunneling": true,
        "delaybetweentelegrams": "50",
        "delaybetweentelegramsfurtherdelayREAD": "1",
        "ignoreTelegramsWithRepeatedFlag": true,
        "keyringFileXML": "",
        "knxSecureSelected": false,
        "autoReconnect": "yes"
    }
]