N98/餐厅.json
[
    {
        "id": "e1d3965e46fd0043",
        "type": "tab",
        "label": "餐厅",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24c5f17dda30193a",
        "type": "comment",
        "z": "e1d3965e46fd0043",
        "d": true,
        "name": "1.修改开关的反馈地址",
        "info": "",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "97beaf6b1eb3b63c",
        "type": "comment",
        "z": "e1d3965e46fd0043",
        "d": true,
        "name": "2.修改开关的操作地址",
        "info": "",
        "x": 1200,
        "y": 100,
        "wires": []
    },
    {
        "id": "af7909e546e1d875",
        "type": "comment",
        "z": "e1d3965e46fd0043",
        "d": true,
        "name": "简单的开关，灯--模板，修改Bridge和名字",
        "info": "",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "50b3efed.af2238",
        "type": "knxUltimate",
        "z": "e1d3965e46fd0043",
        "server": "1d670c832649ebb6",
        "topic": "1/0/20",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "",
        "listenallga": false,
        "name": "Light switch",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "passthrough": "no",
        "x": 1230,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6e5129ca.0e00d",
        "type": "knxUltimate",
        "z": "e1d3965e46fd0043",
        "server": "1d670c832649ebb6",
        "topic": "1/0/20",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": "1",
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "",
        "listenallga": false,
        "name": "Light Status",
        "outputtype": "update",
        "outputRBE": "false",
        "inputRBE": "true",
        "passthrough": "no",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "bb90758b.37d8f8"
            ]
        ]
    },
    {
        "id": "bb90758b.37d8f8",
        "type": "function",
        "z": "e1d3965e46fd0043",
        "name": "ON/OFF",
        "func": "// Verifico cosa ricevo dall'input\nif (Boolean(msg.payload) === true) {\n    return {payload:{\"On\":true}}\n}\nelse if (Boolean(msg.payload) === false)\n{\n    return {payload:{\"On\":false}}\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "068e60ef4b8f562a"
            ]
        ]
    },
    {
        "id": "c4a6aa5a15e5a826",
        "type": "function",
        "z": "e1d3965e46fd0043",
        "name": "CONVERSION",
        "func": "// Pass only messages coming from homekit node\nif (msg.hap.context !== undefined) {\n    if (msg.payload.On !== undefined) {\n        if (Boolean(msg.payload.On) === true) {\n            return { payload: true };\n        }\n        else if (Boolean(msg.payload.On) === false) {\n            return { payload: false };\n        }\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "50b3efed.af2238"
            ]
        ]
    },
    {
        "id": "068e60ef4b8f562a",
        "type": "homekit-service",
        "z": "e1d3965e46fd0043",
        "isParent": true,
        "hostType": "0",
        "bridge": "0d2eda8c9f24f70b",
        "accessoryId": "",
        "parentService": "",
        "name": "主灯",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "c4a6aa5a15e5a826"
            ],
            []
        ]
    },
    {
        "id": "86610674b192e80a",
        "type": "knxUltimate",
        "z": "e1d3965e46fd0043",
        "server": "1d670c832649ebb6",
        "topic": "1/0/19",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "",
        "listenallga": false,
        "name": "Light switch",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "passthrough": "no",
        "x": 1230,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8107bdb4b53155ac",
        "type": "knxUltimate",
        "z": "e1d3965e46fd0043",
        "server": "1d670c832649ebb6",
        "topic": "1/0/19",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": "1",
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "",
        "listenallga": false,
        "name": "Light Status",
        "outputtype": "update",
        "outputRBE": "false",
        "inputRBE": "true",
        "passthrough": "no",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "1cc133c4e0e785cc"
            ]
        ]
    },
    {
        "id": "1cc133c4e0e785cc",
        "type": "function",
        "z": "e1d3965e46fd0043",
        "name": "ON/OFF",
        "func": "// Verifico cosa ricevo dall'input\nif (Boolean(msg.payload) === true) {\n    return {payload:{\"On\":true}}\n}\nelse if (Boolean(msg.payload) === false)\n{\n    return {payload:{\"On\":false}}\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "e2c38e1c6514f2f4"
            ]
        ]
    },
    {
        "id": "f5837e3cbcf2ec44",
        "type": "function",
        "z": "e1d3965e46fd0043",
        "name": "CONVERSION",
        "func": "// Pass only messages coming from homekit node\nif (msg.hap.context !== undefined) {\n    if (msg.payload.On !== undefined) {\n        if (Boolean(msg.payload.On) === true) {\n            return { payload: true };\n        }\n        else if (Boolean(msg.payload.On) === false) {\n            return { payload: false };\n        }\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "86610674b192e80a"
            ]
        ]
    },
    {
        "id": "e2c38e1c6514f2f4",
        "type": "homekit-service",
        "z": "e1d3965e46fd0043",
        "isParent": true,
        "hostType": "0",
        "bridge": "0d2eda8c9f24f70b",
        "accessoryId": "",
        "parentService": "",
        "name": "筒灯",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "f5837e3cbcf2ec44"
            ],
            []
        ]
    },
    {
        "id": "1d670c832649ebb6",
        "type": "knxUltimate-config",
        "host": "192.168.1.7",
        "port": "3671",
        "physAddr": "14.14.14",
        "hostProtocol": "TunnelUDP",
        "suppressACKRequest": true,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "stopETSImportIfNoDatapoint": "skip",
        "loglevel": "debug",
        "name": "KNX Gateway",
        "localEchoInTunneling": true,
        "delaybetweentelegrams": "50",
        "delaybetweentelegramsfurtherdelayREAD": "1",
        "ignoreTelegramsWithRepeatedFlag": true,
        "keyringFileXML": "",
        "knxSecureSelected": false,
        "autoReconnect": "yes"
    },
    {
        "id": "0d2eda8c9f24f70b",
        "type": "homekit-bridge",
        "bridgeName": "Dining room",
        "pinCode": "1018-9608",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.6.1",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.6.1",
        "hardwareRev": "1.6.1",
        "softwareRev": "1.6.1",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    }
]